################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WinLab1/Debug
/Debug
/.vs/WinLab1/v16
